.navbar {
  background-color: transparent;
  color: white;
}

.navbar-toggler {
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white;
  cursor: pointer;
}

/* Adjust styles for smaller screens if needed */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }
}

