body {
  background-color: #000112; /* Set the background color to your desired color */
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: pink;
}

.title {
  margin-bottom: 20px;
  color: aquamarine;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-actions {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space between the boxes */
}

.doctor-actions {
  margin-top: 20px; /* Add margin-top to create space between the boxes */
}

.patient-actions,
.doctor-actions {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc; /* Make the border bold */
}

.patient-actions h2,
.doctor-actions h2 {
  text-align: center;
  font-weight: bold; /* Make the heading text bold */
}

.patient-actions p,
.doctor-actions p {
  text-align: center;
  font-weight: bold; /* Make the paragraph text bold */
}

.prediction-link {
  text-decoration: none;
  color: #333;
}

.prediction-button {
  margin-top: 20px;
  justify-content: left;
  display: block;
  width: 100%;
  padding: 10px 100px;
  border: none;
  border-radius: 40px; /* Adjust border-radius to make it rounder */
  background-color: #b33b72; /* Change background color */
  color: #fff; /* Change text color */
  font-size: 16px;
  font-weight: bold; /* Make text bold */
  cursor: pointer;
  transition: background-color 0.3s;
}

.prediction-button:hover {
  background-color: #32be8f; /* Change background color on hover */
}

/* Typing animation for the title */
.title {
  overflow: hidden; /* Hide overflowing text */
  white-space: nowrap; /* Prevent wrapping of text */
}

/* Keyframe animation for typing effect */
@keyframes typing {
  from { width: 0 }
}

/* Apply typing animation to title */
.title::after {
  content: ''; /* Cursor */
  animation: typing 2s steps(20, end) infinite;
}
