
body {
  background-image: url('/public/images/back4.jpg');
  font-family: "Poppins", sans-serif;
  display: flex;
}

.background {
  width: 100%; /* Adjust the width */
  height: 100vh; /* Adjust the height */
  position: relative;
}

.background .shape {
  height: 15%; /* Adjust the height */
  width: 15%; /* Adjust the width */
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#03e5b7, #037ade);
  left: -10%; /* Adjust the position */
  top: -10%; /* Adjust the position */
}

.shape:last-child {
  background: linear-gradient(to right, #037ade, #03e5b7);
  right: -5%; /* Adjust the position */
  bottom: -10%; /* Adjust the position */
}

form {
  width: 80%; /* Adjust the width */
  max-width: 400px; /* Limit maximum width */
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 40px 25px; /* Adjust the padding */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form * {
  color: #ffffff;
  outline: none;
  border: none;
}

form h3 {
  font-size: 26px; /* Adjust the font size */
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px; /* Adjust the margin */
}

label {
  display: block;
  margin-top: 15px; /* Adjust the margin */
  font-size: 16px;
  font-weight: 500;
}

input {
  height: 40px; /* Adjust the height */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 40px; /* Adjust the margin */
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 12px 0; /* Adjust the padding */
  font-size: 16px; /* Adjust the font size */
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(#616161, #424242);
}

.forgot-password {
  margin-top: 15px; /* Adjust the margin */
  font-size: 14px;
  color: #888888;
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition */
}

.forgot-password:hover {
  color: #cccccc; /* Change color on hover */
}
