/* registration.css */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000112;
  font-family: 'Poppins', sans-serif;
}

.background .shape {
  height: 100px; /* Adjust the height */
  width: 100px; /* Adjust the width */
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(
    #03E5B7,
    #037ADE
  );
  left: 350px; /* Adjust the position */
  top: 70px; /* Adjust the position */
}

.shape:last-child {
  background: linear-gradient(
    to right,
    #037ADE,
    #03E5B7
  );
  right: 360px; /* Adjust the position */
  bottom: -230px; /* Adjust the position */
}

.form-container {
  position: relative;
  z-index: 1;
  margin-top: 50px; /* Adjust margin top to clear header */
  margin-bottom: 50px;
}

form {
  width: 90%;
  max-width: 700px;
  background-color: rgba(255,255,255,0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: auto; /* Center the form */
}

form * {
  color: #ffffff;
  outline: none;
  border: none;
}

form h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

input, select {
  width: 100%;
  height: 25px;
  background-color: rgba(255,255,255,0.07);
  border-radius: 13px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    #616161,
    #424242
  );
}
